.navbar{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    border-bottom: 1px Solid white;
}

.left{
    width: 100px;
    height: 100%;
    
    display: flex; /* Add this to enable flexbox */
    align-items: center;
    z-index: 1;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left:0px
}

.middle{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    color:white;
    
    background-color: black;
    border: none;

}
.right{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.magnify{
    height: 30px;
    width: 20px;
    margin-left: 30px;
    background-color: white;
}